* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

body {
	background-color: white;
	color: black;
}

main {
	padding: 48px 0;
}

img {
	max-width: 100%;
}

h1 {
    color: red;
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 75px;
    padding-top: 40px;
}

.introd {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 12px 0;
}

.col {
	width: 30%;
	float: left;
	margin-right: 5%;
    margin-bottom: 30px;
}

.col:last-child {
	margin-right: 0%;
}

.card {
	text-align: left;
    background-color: black;
    color: white;
}

.card img {
	height: 110px;
    float: left;
    margin-right: 15px;
}

.card h3 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
}

.card p {
    font-family: sans-serif;
    padding-bottom: 10px;
}

.card a {
    color: lightblue;
    font-family: sans-serif;
}